{% extends 'tperroinBlogSioBundle:Default:layout.html.twig' %}



{% block corps %}

<!-- Second Band (Image Left with Text) -->
  
  <div class="row">
    <div class="large-4 columns columns">
      <img src="{{ asset('css/images/accueil/b.jpg') }}" />
    </div>
    <div class="large-8 columns">
      <h4>Base de connaissances.</h4>
      <div class="row">
            <p>Dans un soucis de veille technologique pour mes études, il m'a semblé important de créer ma propre base de connaissances. </p>
            <p>C'est pourquoi j'ai mis en place sur mon serveur un wiki, réalisé avec <span data-tooltip class="has-tip" title="Site officiel de dokuwiki"><a href="https://www.dokuwiki.org/" target="_blank">dokuwiki</a></span>, pour mettre en évidence les nouvelles technologies que j'ai utilisées pour mes projets.</p>
            <p>Vous pouvez accéder à mon dokuwiki à cette addresse : <span data-tooltip class="has-tip" title="Mon dokuwiki"><a href="http://www.tpdoc.tpdev.fr/" target="_blank">tpdoc.tpdev.fr</a></span>.</p>
        </div>
    </div>
  </div>
  
  
  <!-- Third Band (Image Right with Text) -->
  
  <div class="row">
    <div class="large-8 columns">
      <h4>Compétences.</h4>
      
      <p>Dans le cadre de mon BTS SIO (Services Informatiques aux Organisations), nous devons valider des compétences informatiques et les présenter sous forme d'un blog.</p>
      
      <p>Pour ajouter une nouvelle compétence à ce blog, j'ai décidé de le créer avec le Framework <span data-tooltip class="has-tip" title="Site officiel de Symfony"><a href="http://symfony.com/" target="_blank">Symfony</a></span> dans sa version 2.</p>
          
    </div>
    <div class="large-4 columns columns">
      <img src="{{ asset('css/images/accueil/c.jpg') }}" />
    </div>
  </div>
  {% endblock %}