{% extends 'SonataNewsBundle:Post:archive.html.twig' %}
{% block title %}Projets {{ parent() }}{% endblock %}
 
    {% block navbar %} 
        <div class="twelve columns">
            <ul class="nav-bar">
                <li><a href="{{ path('homepage')}}">Accueil</a></li>
                <li><a href="{{ path('sonata_news_home') }}">Blog</a></li>
                <li class="active"><a href="{{ path('tperroin_projets')}}">Projets</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    {% endblock %}

    {% block image_accueil %}  {% endblock %}

    {% block corps %}

        
         <div class="row">
          <div class="large-6 columns">
            <div class="panel">
                
                <h5>Projet GestStages</h5>
              <p>Application WEB en PHP de gestion de stages.</p>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="panel callout radius">
              <h5>Projet Moskito</h5>
              <p>Application WEB en PHP sous Drupal 6 pour l'entreprise MANITOU BF.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <div class="panel callout radius">
              <h5>Projet AFPA</h5>
              <p>Application non terminée</p>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="panel">
              <h5>Projet GestComptesInternet</h5>
              <p>Application Java de gestion de comptes bancaires sur Internet pour l'entreprise ETS BOUCHEREAU.</p>
            </div>
          </div>
        </div>



    {% endblock %}